<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script type="module" src="js/env.js"></script>
<script type="module" src="js/app.js"></script>

<div id="app">
  <h1>Shop</h1>
  <div v-for="product in products" class="product">
    {{ product.name }}
    <button v-on:click="addToCart(product.name)" v-bind:test_data="'addToCart'+product.name">Add to cart</button>
  </div>

  <h1>Cart</h1>
  <div v-for="product in cart" class="cart">
    {{ product.name }}
    <button v-on:click="deleteFromCart(product.name)" v-bind:test_data="'removeFromCart'+product.name">Delete</button>
  </div>
  <button v-on:click="submitOrder()" test_data="submitOrder">Submit Order</button>
  <p test_data="orderMessage">{{orderMessage}}</p>

  <h1>Orders</h1>
  <div v-for="order in orders" class="order">
    Order {{ order.id }}
    <button v-on:click="viewOrder(order.id)" v-bind:test_data="'viewOrder'+order.id">View</button>
    <button v-on:click="deleteOrder(order.id)" v-bind:test_data="'deleteOrder'+order.id">Delete</button>

  </div>

  <h1>{{selectedOrder}}</h1>
  <div v-for="product in selectedOrderProducts" class="cart">
    {{ product }}
  </div>


</div>